.CardsView {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.ShopCard {
  background-color:rgba(245, 245, 245, 255);
  margin: 20px;
  width: 400px;
  border-radius: 10px;
}


.control {
  display: flex;
  align-items: center;
  margin: 20px;
  justify-content: space-between;
}

.addCard {
  border-radius: 20px;
  padding: 10px;
  color: red;
  margin-right: 20px;
  border: 2px red solid;
}

.ListView {
  flex-wrap: wrap;
  display: flex;
  margin: 20px;
}

.ShopItem {
  align-items: center;
  background-color:rgba(245, 245, 245, 255);
  display: flex;
  width: 100vw;
  justify-content: space-between;
}

.price {
  color: red;
}

.IconSwitch {
 margin: 20px;
 text-align: end;
 cursor: pointer;
}